.first_section h1{
    font-size: 3em;
    color:#4a56c8;
    text-align : center;
    max-height: 5vw;
}
.box{
    border:  solid #e0dede;
    box-shadow:  2px 2px;
    margin: auto;
}
.certficates{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.certficates h3{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.certficates p{
    font-size: 1.5rem;
}
.certificate_img  img{
    width: 30vw;
    font-size: 2rem;
    height: auto;
    padding: 10px;
}
.certificate_link a{
    color: rgb(59, 229, 24);
}
.second_section h1{
    font-size: 3em;
    color:#4a56c8;
    text-align : center;
    max-height: 5vw;
}