* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 4, 54);
    color: white;
}

nav .logoimg {
    width: 82px;
    margin: 0px -90px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(84, 78, 124);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(202, 202, 243);
    font-size: 1.2rem;
}

main hr {
    border: 0;
    background-color: rgb(172, 172, 236);
    height: 1.5px;
    margin: 10px 40px;
}

.left {
    font-size: 1.9rem;
    position: relative;
    left: -167px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
}

.firstsection div {
    width: 30px 0;
}

.leftsection {
    font-size: 2rem;
    margin: 80px 0;
}

.rightsection img {
    width: 30vw;
    margin: 0px;
}

.purple {

    color: rgb(177, 130, 221);
}

.text-gray {
    color: grey;
}

#element {
    color: rgb(177, 130, 221);
}

.secondsection {
    max-width: 90vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.5rem;
}

.secondsection .box {
    background: white;
    margin: 40px 0;
    width: 90vw;
    height: 2px;
    display: flex;
}

.secondsection .vertical {
    background: #ede7e7;
    width: 1px;
    margin: 0 130px;
    height: 100px;
}

.img-top {
    width: 35px;
    position: relative;
    top: -35px;
    left: -18px;
}

.vertical-title {
    position: relative;
    top: 72px;
    left: -47px;
    width: 200px;
}

.vertical_desc {
    position: relative;
    top: 80px;
    color: gray;
    width: 180px;
    font-size: 14px;
    font-weight: bolder;
    text-align: justify;
}

footer {
    background-color: rgb(80, 73, 121);
    height: 50px;
    margin: 0px 35px;
    margin-top: 100px;
}

.footer {
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
}

.footer-first {
    padding: 7px 0px;
    font-size: 1.4rem;
}

.footer-second {
    padding: 12px 240px;
}

.footer-third ul li {
    list-style: none;
    padding: 0px 4px;
    display: inline-block;
}

footer img {
    width: 50px;
}
.third_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-gray_1 {
    color: grey;
    font-size: 2rem;
    margin: 4vw;
}
.contacts h4{
    font-size: 2rem;
    margin: 2vw;
}